.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  a {
    margin: 0 5px;
  }
  p {
    color: black;
  }
  
  body {
    max-width: 960px;
    background-color: none;
    border: 2px solid rgb(79,185,227);
      padding: 10px;
      margin: auto;
      border-radius: 5px;
  }
  
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    /*border: 2px solid rgb(79,185,227);*/
  }
  
  .box1 {
    grid-column: 2;
    grid-row: 1;
    /*border: 2px solid rgb(79,185,227);*/
  }
  
  .box2 {
    grid-column: 1;
    grid-row: 1;
    /*border: 2px solid rgb(79,185,227);*/
  }
  
  /*.box3 {
    grid-row: 2;
    grid-column: 3;
    border: 2px solid rgb(79,185,227);
  }*/
  .content-box {
    column-count: 2;
    column-rule: 2px solid black;
    /*border: 2px solid rgb(79,185,227);*/
  }
  html {
    background-color:#214c84;
    background-blend-mode:overlay;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url(../../assets/img/image4.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
  }
  
  body {
    background-color:transparent;
  }
  
  .registration-cssave{
    padding:50px 0;
  }
  
  .registration-cssave form {
    max-width:800px;
    padding:50px 70px;
    border-radius:10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color:#fff;
  }
  
  .registration-cssave form h3 {
    font-weight:bold;
    margin-bottom:30px;
  }
  
  .registration-cssave .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
  }
  
  .registration-cssave .create-account {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#3f93ff;
    border:none;
    color:white;
    margin-top:20px;
  }
  
  @media (max-width: 576px) {
    .registration-cssave form {
      padding:50px 20px;
    }
  }